
<!-- Page Content -->
<div class="container">
    <div class="row">
        <br>
        <br>
        <br>
        <!--사이드 메뉴-->
        <div class="col-md-2 col-xs-2">
            <br>
            <br>
            <br>
            <h4>회사소개</h4>
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">
            <a href="about.html" style="color:black;">회사개요</a><br>
            보나 비전<br>
            보나 사람들<br>
            <a href="about-location.html" style="color:black;">찾아오시는 길</a><br>
            제휴·문의하기<br>
        </div>
        
        <!--페이지 본문-->
        <div class="col-md-10 col-xs-10">
            <br>
            <br>
            <p style="font-weight: 100;"><font size="7">찾아오시는 길</font></p>
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">
            
            	
            <div id="map_view" style="width:500px; height:300px;"></div>

            
            <br>
            <h4>bona</h4>
            <font color="grey" style="font-weight: 100;">
            울산 울주군 언양읍 반연리<br>
            유니스트 BAB 114/506-3<br>
            </font>
            
            <br>


        </div>
        
    </div>

</div>

