
<!-- Page Content -->
<div class="container">
    <div class="row">
        <br>
        <br>
        <br>
        <!--사이드 메뉴-->
        <div class="col-md-2 col-xs-2">
            <br>
            <br>
            <br>
            <h4>회사소개</h4>
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">
            <a href="about.html" style="color:black;">회사개요</a><br>
            보나 비전<br>
            보나 사람들<br>
            <a href="about-location.html" style="color:black;">찾아오시는 길</a><br>
            제휴·문의하기<br>
        </div>
        
        <!--페이지 본문-->
        <div class="col-md-10 col-xs-10">
            <br>
            <br>
            <p style="font-weight: 100;"><font size="7">찾아오시는 길</font></p>
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12980.29620886418!2d129.18093786733678!3d35.57656400629915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35662fd6dbfd6bf9%3A0xff7e692b8c1ac46b!2z64yA7ZWc66-86rWtIOyauOyCsOq0keyXreyLnCDsmrjso7zqtbAg7Ja47JaR7J2NIOuwmOyXsOumrCAxMDU!5e0!3m2!1sko!2sph!4v1474384049724" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>            <br>
            
            <h4>bona</h4>
            <font color="grey" style="font-weight: 100;">
            울산 울주군 언양읍 반연리<br>
            유니스트 BAB 114/506-3<br>
            </font>
            
            <br>


        </div>
        
    </div>

</div>

