
<!-- Page Content -->
<div class="container">
    <div class="row">
        <br>
        <br>
        <br>
        <!--사이드 메뉴-->
        <div class="col-md-2 col-xs-2">
            <br>
            <br>
            <br>
            <h4>회사소개</h4>
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">
            <a href="about.html" style="color:black;">회사개요</a><br>
            보나 비전<br>
            보나 사람들<br>
            <a href="about-location.html" style="color:black;">찾아오시는 길</a><br>
            제휴·문의하기<br>
        </div>
        
        <!--페이지 본문-->
        <div class="col-md-10 col-xs-10">
            <br>
            <br>
            <p style="font-weight: 100;"><font size="7">건강한 습관을 함께하는 <b style="font-weight: 400;">보나</b></font></p>
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">
            
            <br>
            <h4>나는 멋진 개발자</h4>
            <font color="grey" style="font-weight: 100;">
            참고하는 페이지 보니 큰 제목같은건 이미지파일이던데<br>
            나는 디자이너 없이 혼자서 작업하는 고독한 개발자<br>
            </font>
            
            <br>
            <br>
            <h4>여긴 이렇게 저긴 저렇게</h4>
            <font color="grey" style="font-weight: 100;">
            뿅 하고 되면 참 좋겠지<br>
            나도 그렇게 생각해<br>
            하지만 개발자는 마법사가 아니예요<br>
            </font>  

        </div>
        
    </div>

</div>
