


<div class="container">
    <div class="row">
        <br>
        <br>
        <br>
        <!--사이드 메뉴-->
        <div class="col-md-2 col-xs-2">
            <br>
            <br>
            <br>
            <h4>홍보실</h4>
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">
            숫자로 보는 보나<br>
            보도자료<br>
            기타등등<br>
        </div>
        
        <!--페이지 본문-->
        <div class="col-md-10 col-xs-10">
            <br>
            <br>
            <p style="font-weight: 100;"><font size="7">엄마 나 <b style="font-weight: 400;">TV</b>에 나왔어</font></p>
            
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">

            <br>
            <font color="grey" style="font-weight: 100;">
            (보나 캠페인 3기부터 현재까지) <br>
            </font>  
            <h3>현재 누적 성공률 <font size="6"><span class="Count">87</span></font>%</h3>
            <h3>현재까지 <font size="6"><span class="Count">173</span></font>명 참여</h3>

            <br>
            

        </div>
        
    </div>

</div>





<!--페이지 본문-->
<!--<div class="col-md-10 col-xs-10">-->
<!--    <br>-->
<!--    <br>-->
<!--    <p style="font-weight: 100;"><font size="7"><b style="font-weight: 400;">숫자</b>로 보는 보나</font></p>-->
    
<!--    <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">-->

<!--    <br>-->
<!--    <font color="grey" style="font-weight: 100;">-->
<!--    (보나 캠페인 3기부터 현재까지) <br>-->
<!--    </font>  -->
<!--    <h3>현재 누적 성공률 <font size="6"><span class="Count">87</span></font>%</h3>-->
<!--    <h3>현재까지 <font size="6"><span class="Count">173</span></font>명 참여</h3>-->

<!--    <br>-->
<!--</div>-->

<!--숫자 애니메이션을 위한 자바스크립트-->
<script type="text/javascript">
    $('.Count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 2000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
</script>