<div class="container">
    <div class="row">
        <br>
        <br>
        <br>
        <!--사이드 메뉴-->
        <div class="col-md-2">
            <br>
            <br>
            <br>
            <h4>홍보실</h4>
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">
            보도자료<br>
            기타등등<br>
        </div>
        
        <!--페이지 본문-->
        <div class="col-md-10">
            <br>
            <br>
            <p style="font-weight: 100;"><font size="7">이 페이지는 지금 <b style="font-weight: 400;">공사 중</b></font></p>
            
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">

            <br>
            <br>
            <h4>눈에 보이는 결과가 없어도</h4>
            <font color="grey" style="font-weight: 100;">
            개발자는 항상 일하고 있습니다.<br>
            </font>  
            
            

        </div>
        
    </div>

</div>
