


<div class="container">
    <div class="row">
        <br>
        <br>
        <br>
        <!--사이드 메뉴-->
        <div class="col-md-2 col-xs-2">
            <br>
            <br>
            <br>
            <h4>홍보실</h4>
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">
            숫자로 보는 보나<br>
            보도자료<br>
            기타등등<br>
        </div>
        
        <!--페이지 본문-->
        <div class="col-md-10 col-xs-10">
            <br>
            <br>
            <p style="font-weight: 100;"><font size="7">엄마 나 <b style="font-weight: 400;">TV</b>에 나왔어</font></p>
            
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">

            <a target="_blank" href="http://web.ubc.co.kr/wp/archives/26116">
            <img src="/assets/thumbnail_ubc.png">
            <br>
            <h5 style="color:black;">[UBC 울산방송] 창사특집 창업혁명</h5>
            </a>

            <br>
            

        </div>
        
    </div>

</div>

