
<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">

    <!-- Wrapper for slides -->
    <!-- sample img url: 'http://placehold.it/1900x1080&text=Slide One' -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/assets/sample_img.png');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/sample_img.png');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/sample_img.png');"></div>
        </div>
    </div>

</header>


<!-- Page Content -->
<div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                     
                </h1>
            </div>
            <div class="col-md-4">
                <div>
                    <div>
                        <h4>보나 회사소개</h4>
                    </div>
                    <div>
                        <img src="/assets/wide_sample_img.png" style="width: 100%;">
                        <p>여러분들의 다짐이 한순간의 결심으로만 끝나지 않도록<br>
                        여러분들에게 성취의 경험을 드리는 보나입니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div>
                        <h4>보나 캠페인</h4>
                    </div>
                    <div>
                        <img src="/assets/wide_sample_img.png" style="width: 100%;">
                        <p>"내일 헬스장가야지" 보다는 "지금 당장 스쿼트 10개"를 하자.<br>
                        여러분의 건강을 위한 보나입니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div>
                        <h4>야한란</h4>
                    </div>
                    <div>
                        <img src="/assets/wide_sample_img.png" style="width: 100%;">
                        <p>건강하지 않은 야식 외엔 선택지가 없다는 점은 너무나도 아쉽습니다. 
                        보나는 야한란을 시작으로 건강한 야식을 제공하려합니다. </p>
                    </div>
                </div>
        </div>
        <!-- /.row -->



</div>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>

