<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" 
    style="padding-top: 20px;
           padding-bottom: 20px;
           background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
           ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html" style="color:#333;">BONA</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html" style="color:#333; text-shadow: 0 0px 0 rgba(0,0,0,0)">회사소개</a>
                    </li>
                    <li>
                        <a href="services.html" style="color:#333; text-shadow: 0 0px 0 rgba(0,0,0,0)">서비스</a>
                    </li>
                    <li>
                        <a href="contact.html" style="color:#333; text-shadow: 0 0px 0 rgba(0,0,0,0)">홍보실</a>
                    </li>

                    <!--<li class="dropdown">-->
                    <!--    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#333; text-shadow: 0 0px 0 rgba(0,0,0,0)">Other Pages <b class="caret"></b></a>-->
                    <!--    <ul class="dropdown-menu">-->
                    <!--        <li>-->
                    <!--            <a href="full-width.html">Full Width Page</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="sidebar.html">Sidebar Page</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="faq.html">FAQ</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="404.html">404</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="pricing.html">Pricing Table</a>-->
                    <!--        </li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>