<div class="container">
    <div class="row">
        <br>
        <br>
        <br>
        <!--사이드 메뉴-->
        <div class="col-md-2 col-xs-2">
            <br>
            <br>
            <br>
            <h4>서비스</h4>
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">
            <a href="services.html" style="color:black;">보나 캠페인</a><br>
            <a href="services-bonaappetit.html" style="color:black;">Bonappétit</a><br>
        </div>
        
        <!--페이지 본문-->
        <div class="col-md-10 col-xs-10">
            <br>
            <br>
            <p style="font-weight: 100;"><font size="7"> <b style="font-weight: 400;">Bonappétit</b></font></p>
            
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">

            <br>
            <br>
            <h4>야한란</h4>
            <font color="grey" style="font-weight: 100;">
            건강한 생활습관을 지향하는 보나에게 캠퍼스내의 열악한 식사환경은 저희에게 많은 고민을 가져다 줬습니다. <br>
            야식을 자주 찾게되는 환경이지만 인스턴트, 튀김 위주의 음식들에 한해 이용 가능한 캠퍼스. <br>
            그래서 저희 보나는 여러분들에게 균형잡힌 간식인 구운계란을 제공합니다. <br>
            야한란은 소화가 빠르고 풍부한 단백질을 갖고있어 캠퍼스 구성원들에게 건강한 식생활을 유지해드립니다. <br>
            </font>
            
            <br>

        </div>
        
    </div>

</div>
