<div class="container">
    <div class="row">
        <br>
        <br>
        <br>
        <!--사이드 메뉴-->
        <div class="col-md-2 col-xs-2">
            <br>
            <br>
            <br>
            <h4>서비스</h4>
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">
            <a href="services.html" style="color:black;">보나 캠페인</a><br>
            <a href="services-bonaappetit.html" style="color:black;">Bonappétit</a><br>
        </div>
        
        <!--페이지 본문-->
        <div class="col-md-10 col-xs-10">
            <br>
            <br>
            <p style="font-weight: 100;"><font size="7">오늘 당장 치킨을 멀리하는 보나, </font></p>
            <p style="font-weight: 100;"><font size="7"> <b style="font-weight: 400;">Bonappétit</b></font></p>
            
            <hr align="left" style="width: 80%; color: black; background-color: black; height: 2px;">

            <br>
            <br>
            <h4>야한란</h4>
            <font color="grey" style="font-weight: 100;">
            우리 모두 다이어트의 필요성을 알고있지만, 실제로 치느님을 멀리하기는 굉장히 힘듭니다. <br>
            우리의 의지 부족이 아니라 치느님에대한 욕구와 본능에 의해서 말이죠. <br>
            그래서 우리 보나는 작은 행동을 시작해, 여러분에게 변화를 주려합니다. <br>
            시작이 반이다 라는 격언처럼 첫 발자국부터 내딛게 도와드립니다.<br>
            </font>
            
            <br>
            <h4>퍽퍽한 닭찌찌살은 이제 그만</h4>
            <font color="grey" style="font-weight: 100;">
            치킨값은 옛날통닭 두마리 기준 10000원부터 고급스러운 굽네 고추바사삭 치킨 17900원 까지 굉장히 다양하고 부담됩니다. <br>
            그리고 실제로 지불한 비용에 대해 후회를 하는 사람이 적지않죠. <br>
            보나는 이 문제에 근본원인이 습관에 있다고 생각했습니다. <br>
            이미 기숙사에 가서 배달책부터 펼쳐보는 습관형성이 되었거나, 아워홈을 먹으면서 오늘은 무슨 치킨을 먹지 라고 생각하는 사람들에겐 무리였던거죠. <br>
            그래서 보나는 야한란으로 새로운 습관을 만들자 합니다. 3주라는 기간동안 일주일에 만원이라는 동기부여를 통해 습관을 <br>
            형성하게 도와드립니다. <br>
            </font>  

        </div>
        
    </div>

</div>
