<!DOCTYPE html>
<html>
<head>
  <title>보나</title>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background: white; border-top-width: 3px;border-bottom-width: 3px;height: 110px;">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header" style="height: 105px">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="margin-top: 30px;">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html" style="color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px";><img src="/assets/bona_logo.png" style="height:80%"></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right" style="margin-top: 25px;">
                  <li>
                      <a href="about.html" style="color:black">회사소개</a>
                  </li>
                  <li>
                      <a href="services.html" style="color:black">서비스</a>
                  </li>
                  <li>
                      <a href="contact.html" style="color:black">홍보실</a>
                  </li>
                  <!--<li class="dropdown">-->
                  <!--    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:black; background: white;">Blog <b class="caret"></b></a>-->
                  <!--    <ul class="dropdown-menu">-->
                  <!--        <li>-->
                  <!--            <a href="blog-post.html">드롭다운 메뉴가</a>-->
                  <!--        </li>-->
                  <!--        <li>-->
                  <!--            <a href="blog-post.html">된다는 걸</a>-->
                  <!--        </li>-->
                  <!--        <li>-->
                  <!--            <a href="blog-post.html">보여주고 싶었을 뿐</a>-->
                  <!--        </li>-->
                  <!--    </ul>-->
                  <!--</li>-->
                  <li>
                    &nbsp; &nbsp; &nbsp; &nbsp; 
                  </li>
                  <li>
                    <div style="padding:15px;">
                      <a href="https://www.facebook.com/bonawearable/" style="color:black"><img src="/assets/icon_blog.gif"></a>
                      <img src="/assets/util_centerline.gif">
                      <a href="https://www.facebook.com/bonawearable/" style="color:black"><img src="/assets/icon_facebook.gif"></a>
                      <img src="/assets/util_centerline.gif">
                      <a href="https://www.facebook.com/bonawearable/" style="color:black"><img src="/assets/icon_twitter.gif"></a>
                    </div>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>


  <%= yield %>


  <!-- Footer -->
  <hr>
  <div class="container">
      <footer>
          <div class="row">
              <div class="col-lg-12">
                  <p style="color: grey;" align="right">Copyright &copy; BONA 2016. All rights reserved.</p>
              </div>
          </div>
      </footer>
  
  </div>
  
  
  <!-- jQuery -->
  <script src="/assets/jquery.js"></script>
  
  <!-- Bootstrap Core JavaScript -->
  <script src="/assets/bootstrap.min.js"></script>


</body>
</html>
